@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);
#loginForm {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
#loginForm .checkbox {
  font-weight: 400;
}
#loginForm .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
#loginForm .form-control:focus {
  z-index: 2;
}
#loginForm input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
#loginForm input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}