/* stylelint-disable selector-list-comma-newline-after */

.blog-header-logo {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  font-size: 2.25rem;
}

.blog-header-logo:hover {
  text-decoration: none;
}
/*
 * Footer
 */
.blog-footer {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}
.btn-sm{
	color: #000000;
	font-size: 15px;
	font-weight: bold;
}
@media screen and (max-width: 980px) {
  .nav-link {
    font-size: 13px;
  },
  #inputValidation{
  	width: 30px;
  }
}